openapi: 3.1.0
info:
  title: Costume Rental Service API
  version: 0.0.0
tags: []
paths:
  /auth/login:
    post:
      operationId: AuthOperations_login
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          headers:
            Set-Cookie:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth.LoginSuccessResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common.Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth.LoginRequest'
      security:
        - {}
  /auth/logout:
    post:
      operationId: AuthOperations_logout
      parameters: []
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
          headers:
            Set-Cookie:
              required: true
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common.Error'
  /auth/refresh:
    post:
      operationId: AuthOperations_refresh
      parameters:
        - name: Cookie
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth.RefreshSuccessResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common.Error'
      security:
        - {}
security:
  - BearerAuth: []
components:
  schemas:
    Auth.LoginRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          minLength: 6
        password:
          type: string
          minLength: 12
    Auth.LoginSuccessResponse:
      type: object
      required:
        - accessToken
        - user
      properties:
        accessToken:
          type: string
        user:
          type: object
          properties:
            login:
              type: string
          required:
            - login
    Auth.RefreshSuccessResponse:
      type: object
      required:
        - accessToken
      properties:
        accessToken:
          type: string
    BearerAuth:
      type: object
      required:
        - type
        - scheme
      properties:
        type:
          type: string
          enum:
            - http
          description: Http authentication
        scheme:
          type: string
          enum:
            - Bearer
          description: bearer auth scheme
      description: ''
    Common.Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: Bearer
servers:
  - url: http://localhost:3000
    description: Локальный сервер разработки
    variables: {}
